
.box{
    width: 50%;
    background-color: black;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.box h1{
    text-align: center;
    margin:20px 0;
    color: aqua;
}

.box div{
    text-align: center;
    margin: 20px 0;
}